body{
  background-color: rgba(0,0,0,0.8);
  color: white;
}
#app{
  padding-left: 30%;
  padding-top: 3%;

}
table tr td{
  border-collapse: collapse;
  border-color: rgb(7, 167, 216);
  border: 2px solid #07a7d8;
  text-align: center;
}
thead{
  text-align: center;
}
tbody{
  width: 70%;
  height: 50%;
}
td{
  width: 55px;
  height: 55px;
  background-color: rgba(7, 167, 216,0.6);
}
input{
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 0px;
}
#send{
  width: 80px;
  height: 30px;
  background-color: rgba(7, 167, 216,0.6);
  color: white;
  margin-top: 1%;
  margin-left: 40%;
}
