<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SUDOKU</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='index.css') }}">

</head>
<body>
    <h1>SUDOKU</h1>
    <div id="app"> </div>
    <button id="send"> Send </button>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
